body{
    background-color: #EDF1D6;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
}
h3 {
    margin-bottom: 2%;
}
.cloud-1 {
    position: absolute;
    right: 350px;
    top: 70px;
    width: 15%;
}

.cloud-2 {
    position: absolute;
    left: 350px;
    top:320px;
    width: 15%;
}

.text{
    color: #4a3933;
    font-family: 'Dancing Script', cursive;
    font-size:xx-large;
    padding: 5%;
    padding-top: 7%;
    
}

.mount {
    width: 43%;
    margin-bottom: 35px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-size: x-large;
}

.img-1, .img-2{
    border-radius: 100%; 
    width: 200px; 
    height: 200px;
    
}

.img-1 {
    float: left;
    margin-right: 30px;
    position: relative;
    bottom: 25px;
}

.img-2 {
    float: right;
    margin-left: 30px;
    position: relative;
    bottom: 25px;
}

.top-container{
    background-color: #9DC08B;
    margin-bottom: 70px;
}

.middle-container{
    color: #053742;
    font-size: x-large;
    line-height: 2;
}

.profile-p{
    font-size: 16px;
    margin-top: 0;
}

hr{
    border: 0;
    border-top: 5px dotted #A84448;
    width: 3%;
    margin: 100px auto 100px auto;
}

.skill-description{
    font-size:medium;
    line-height: 1.5;
    margin: 30px;
}

.bottom-container{
    background-color: #609966;
    margin: 0;
    padding: 50px;
    padding-bottom: 35px;
}

.copy{
    margin: 15px;
    padding-top: 10px;
    font-size: medium;
    color: white;
}

.contact-me{
    font-size: x-large;
    line-height: 2;
    margin-bottom: 70px;
}
h2{
    color: #9DC08B;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #9DC08B;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .btn:hover {
    background: #609966;
    text-decoration: none;
  }

  .footer-link{
    padding: 2%;
    text-decoration: none;
    color: #EDF1D6;
    font-size: medium;
  }
